<!-- First Band (Image) -->
<div id="preview-container" class="reveal-modal expand" >

</div>

<div class="row">
  <div class="large-12 columns">
    <h2>Getting Started - Presentation</h2>
    <p class="intro" ng-if="!userInfo.created">You can review the different features of onslyde with this demo. However, other people may be using it
    at the same time, so if things don't work like you think they should, <a href="#!/register">register</a> and create a private presentation. For the full story behind this project, check out <a href="http://coding.smashingmagazine.com/2013/11/20/reinventing-the-tech-conference-experience/">our article on Smashing Magazine</a>.</p>
    <p class="intro" ng-if="userInfo.created">Setting up a presentation is simple. The form below is simply a kick starter to help you create an interactive presentation.
    After you view the presentation, you must download it and edit it on your computer. You can then open and review it in your browser.</p>
    <div class="row">
    <ol class="large-12 columns">
      <li ng-if="!userInfo.created">First, you should <a href="#!/register">create an account</a> or <a data-reveal-id="signin-container">sign in</a> to start a presentation.</li>
      <li ng-if="!userInfo.created">Just looking around? Select a demo:
        <div class="row">
          <div class="large-3 columns text-center">
            <h2>RevealJS</h2>
            <a ng-click="getstarted.deck = 'reveal'" ng-class="getstarted.deck === 'reveal' ? 'active-deck' : ''"><img src="images/revealjs-tn.png"/></a>
          </div>
          <div class="large-3 columns text-center">
            <h2>ImpressJS</h2>
            <a ng-click="getstarted.deck = 'impress'" ng-class="getstarted.deck === 'impress' ? 'active-deck' : ''"><img src="images/impressjs-tn.png"/></a>
          </div>
          <div class="large-3 columns text-center">
            <h2>BespokeJS</h2>
            <a ng-click="getstarted.deck = 'bespoke'" ng-class="getstarted.deck === 'bespoke' ? 'active-deck' : ''"><img src="images/bespokejs-tn.png"/></a>
          </div>
          <div class="large-3 columns text-center">
            <h2>Simple HTML</h2>
            <a ng-click="getstarted.deck = 'simple'" ng-class="getstarted.deck === 'simple' ? 'active-deck' : ''"><img src="images/simple-html-tn.png"/></a>
          </div>
        </div>
      </li>
      <li class="margin-top25" ng-if="!userInfo.created">Note - This is only a demo. <strong>Other people may be using it!</strong> You will want to sign in and use your own private session ID when you are ready to present to a live audience.
        <div>
          <a ng-click="viewPres(true)" class="button">Preview</a>
        </div>
      </li>
      <li  ng-if="userInfo.created">First, give it a title.
        <div class="large-12">
          <div class="row collapse">
            <div class="small-9 columns">
              <input type="text" ng-model="getstarted.presName" maxlength="50" placeholder="My Awesome Presentation"/>
            </div>
          </div>
          <div class="row collapse">
            <label>Your twitter handle</label>
            <div class="small-4 columns">
              <input type="text" ng-model="getstarted.twitter" maxlength="50" placeholder="twitter username"/>
            </div>
          </div>
        </div>
      </li>
      <li ng-if="userInfo.created" >Next, we'll setup the first question that you would like to ask the audience, then give them 2 options to choose from.
        <div class="large-12">
          <div class="row collapse">
            <div class="small-9 columns">
              <input type="text" ng-model="getstarted.poll1" maxlength="50" placeholder="What is your favorite color?"/>
            </div>
            <div class="small-3 columns">
              <span class="postfix">(limit 50 characters)</span>
            </div>
          </div>
        </div>
        <div class="large-6">
          <div class="row collapse">
            <label>Option 1</label>
            <div class="small-6 columns">
              <input type="text" ng-model="getstarted.option1" maxlength="10" placeholder="Red"/>
            </div>
            <div class="small-6 columns">
              <span class="postfix">(limit 10 characters)</span>
            </div>
          </div>
        </div>
        <div class="large-6">
          <div class="row collapse">
            <label>Option 2</label>
            <div class="small-6 columns">
              <input type="text" ng-model="getstarted.option2" maxlength="10" placeholder="Blue"/>
            </div>
            <div class="small-6 columns">
              <span class="postfix">(limit 10 characters)</span>
            </div>
          </div>
        </div>
      </li>
      <li ng-if="userInfo.created">Pick your presentation framework:
        <div class="row">
          <div class="large-3 columns text-center">
            <h2>RevealJS</h2>
            <a ng-click="getstarted.deck = 'reveal'" ng-class="getstarted.deck === 'reveal' ? 'active-deck' : ''"><img src="images/revealjs-tn.png"/></a>
          </div>
          <div class="large-3 columns text-center">
            <h2>ImpressJS</h2>
            <a ng-click="getstarted.deck = 'impress'" ng-class="getstarted.deck === 'impress' ? 'active-deck' : ''"><img src="images/impressjs-tn.png"/></a>
          </div>
          <div class="large-3 columns text-center">
            <h2>BespokeJS</h2>
            <a ng-click="getstarted.deck = 'bespoke'" ng-class="getstarted.deck === 'bespoke' ? 'active-deck' : ''"><img src="images/bespokejs-tn.png"/></a>
          </div>
          <div class="large-3 columns text-center">
            <h2>Simple HTML</h2>
            <a ng-click="getstarted.deck = 'simple'" ng-class="getstarted.deck === 'simple' ? 'active-deck' : ''"><img src="images/simple-html-tn.png"/></a>
          </div>
        </div>
      </li>
      <li class="margin-top25" ng-if="userInfo.created">Finally view and save your presentation. (If you already have a presentation and need a new session ID, use the one generated in your preview)
      <div>
        <a ng-click="(userInfo.created && getstarted.presName) ? viewPres() : ''" class="button">Preview</a>
      </div></li>
    </ol>
    </div>
  </div>
</div>



