<div class="row" ng-if="!sessionID && !userInfo.name">
  <div class="large-12 columns">
     <p>You must be logged in to view the analytics for your sessions.</p>
     <p>If you're just kicking the tires, check out the data from <a ng-href="#!/analytics/edge2013">the Edge Conf New York panels</a>.</p>
  </div>
</div>

<div class="row" ng-if="!sessionID && userInfo.name" ng-init="presAnalyticsSetup()">
  <div class="large-12 columns">
    <h2>Your Sessions:</h2>
    <ul>
      <li ng-repeat="session in sessionList">
        <a href="#!/analytics?sessionID={{session.id}}">{{session.sessionName}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="row" ng-if="sessionID" ng-init="panelAnalyticsSetup()">
  <div ng-if="sessionData.sessionCode && sessionData.sessionCode != 'beta'" id="chart_movie" class="reveal-modal medium" style="text-align:center">
    <div youtube sessionId="{{sessionData.sessionCode}}" id="analytics-player"></div>
  </div>

  <div class="large-12 columns">
    <h2 class="loading-title bold" ng-if="!twoOptionsList">Loading your report <br/><div class="loading center style-2"></div></h2>
    <h2 class="session-title bold" ng-if="twoOptionsList" >{{sessionData.sessionName}}</h2>

    <div class="row" ng-if="twoOptionsList">
      <div class="large-8 columns">

        Show topics with a minimum of
        <select style="width: 50px" ng-if="twoOptionsList" ng-model="dashBoard.sessionVotesFilter" ng-options="opt.value for opt in dashBoard.sessionVotesFilterList">
        </select>
        votes

      </div>
      <div class="large-4 columns">
        <div class="right"><a class="label" ng-href="#!/analytics/edge2013"><i class="pictogram">&#59146;</i> View Related Sessions</a></div>

      </div>
    </div>



    <div class="text" ng-if="twoOptionsList">There were {{dashBoard.totals.agree}} agree votes and {{dashBoard.totals.disagree}} disagree votes for the following topics.
      <br/><br/><div class="light">Speaker Summary:</div>
      <ul class="inline-list" >
        <li ng-repeat="speaker in dashBoard.speakerTotals | orderBy:'topic'" >
          <span ng-if="speaker.speaker"><a href="http://twitter.com/{{speaker.speaker.twitter}}" target="_blank">{{speaker.topic}}</a> <span class="agree"><i class="pictogram">&#128077;</i>{{speaker.agree}}</span> <span class="disagree"><i class="pictogram">&#128078;</i>{{speaker.disagree}}</span></span>

        </li>
      </ul>

    </div>
    <!--<span class="label right" ng-if="twoOptionsList">Click on a point in the timeseries chart to see the video for each voting period.</span>-->
     <ul ng-repeat="twooption in twoOptionsList | orderBy:'created'" class="chart-list">
       <li class="row">
         <div class="large-12 columns">
           <a name="{{twooption.topicID}}"></a>
          <h2 class="topic-title">
            <div class="left topic-img">
              <a href="http://twitter.com/{{twooption.speakerData.twitter}}" target="_blank"><img ng-if="twooption.speakerData.pic" ng-src="{{twooption.speakerData.pic}}" width="70"/></a>
            </div>
            <div class="left topic-info">
              {{twooption.topicName === '0:0' ? 'Discussion': twooption.topicName}} <a href="#!/analytics?sessionID={{twooption.sessionID}}#{{twooption.topicID}}" alt="permalink"><i data-tooltip title="Permalink for this topic." class="pictogram has-tip" style="font-size:1.5em">&#128279;</i></a><div ng-if="twooption.speakerData.twitter" class="twitter-sub"><i class="pictogram-social">&#62217;</i> <a href="http://twitter.com/{{twooption.speakerData.twitter}}" target="_blank">{{twooption.speakerData.twitter}}</a></div>
                <div ng-if="twooption.topicImage">
                    <img src="/screenshots/{{twooption.topicImage}}" alt=""/>
                </div>
            </div>

           </h2>


         </div>

         <div class="large-4 columns">
           <h3 class="disagree">{{twooption[1].datapoints[twooption[0].datapoints.length-1].count}} {{twooption[1].label}}</h3>
           <h3 class="agree">{{twooption[0].datapoints[twooption[0].datapoints.length-1].count}} {{twooption[0].label}}</h3>

           <chart id="percentage"
                  chartdata="twooption.pieChartData"
                  type="pie" style="height:260px"
                  titleicon=""
                  titlecolor="rgba(255,3,3,0.5)"
                  titleimagetop="-6%"
                  titleimageleft="-2%"></chart>

         </div>
         <div class="large-8 columns">
           <chart id="topic-totals"
                  chartdata="twooption.chartData"
                  type="area"
                  xAxisLabel="return Highcharts.dateFormat('%H:%M:%S', this.value);"
                  xAxisStep="3"></chart>
           </div>
       </li>
     </ul>

</div>
  </div>


