[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  padding: 0;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.bold {
  font-family: 'Lato-Bold', sans-serif;
}

.light {
  font-family: 'Lato-Light', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #343434;
  font-family: 'Lato-Light', sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

h2 {
  font-size: 1.6rem;
}

a {
  cursor: pointer;
  color: #B16A00;
}

p {
  font-size: 1.1em;
  font-weight: 300;
}

p.intro {
  color: #777;
}

@font-face {
  font-family: 'entypo';
  src: url('entypo/entypo.eot');
  src: url('entypo/entypo.eot?#iefix') format('embedded-opentype'), url('entypo/entypo.woff') format('woff'), url('entypo/entypo.ttf') format('truetype'), url('entypo/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.pictogram {
  font-family: "entypo";
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 2.5em;
  line-height: 0.3;
  font-style: normal;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
}

/*--------------------- structural setup and overrides*/

h1.logo {
  color: #383838;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
  text-transform: none;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.margin-top15{
  margin-top: 15px;
}

.margin-top25{
  margin-top: 25px;
}

.margin-top35{
  margin-top: 35px;
}


.margin-top45{
  margin-top: 45px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #6e6e6e;
  color: #383838;
}

.button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 9px 15px;
  font-size: 1em;
  background-color: #ffffff;
  border-color: #6e6e6e;
  color: #383838;
}

/*--------------------- home styles*/


.top-buttons {
  height: 74px;
}

.top-buttons li {
  margin: 25px 10px 0 0;
}
.o-button {

   padding: 10px;
}

.how-can-use {
  /*border: 20px solid #fff;*/
  -moz-box-shadow:    0px 0px 11px 0px #a3a3a3;
  -webkit-box-shadow: 0px 0px 11px 0px #a3a3a3;
  box-shadow:         0px 0px 11px 0px #a3a3a3;
  background-color: #383838;
  background: -moz-linear-gradient(top, #000000 0%, #45484d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#45484d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000000 0%,#45484d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000000 0%,#45484d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000000 0%,#45484d 100%); /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%,#45484d 100%); /* W3C */
  width: 100%;
  height: 335px;
  /*overflow:hidden;*/
}

#how-can-use{
  overflow: hidden;
  height: 335px;
}

.orbit-slide-number {
  display: none;
}

.slide {
  /*padding:20px;*/
  width: 100%;
  height: 335px;
  overflow: hidden;
}

@-webkit-keyframes slide-poll
{
  from {
    -webkit-transform: scale(1,1);
    opacity: .2;
  }
  to {
    -webkit-transform: scale(1.2,1.2);
    opacity: 1;
  }
}

@-webkit-keyframes remote
{
  from {
    -webkit-transform: scale(1,1);
    right: 20px;
    bottom: -50px;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(.7,.7);
    right: 40px;
    bottom: -100px;
    opacity: .4;
  }
}

@-webkit-keyframes remote2
{
  from {
    -webkit-transform: scale(1,1);
    right: 20px;
    bottom: -150px;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(.7,.7);
    right: 40px;
    bottom: -100px;
    opacity: .4;
  }
}

@-webkit-keyframes remote3
{
  from {
    -webkit-transform: scale(1,1);
    right: 85px;
    bottom: -1px;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(.7,.7);
    right: 1px;
    bottom: -100px;
    opacity: .4;
  }
}

@-webkit-keyframes caption
{
  from {
    -webkit-transform: scale(.1,.1);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1,1);
    opacity: .9;
  }
}

.slide.hidden {
  opacity: 0;
}

.slide1 .caption,
.slide2 .caption,
.slide3 .caption{
  background-color: #000;
}

.slide1 .slide-poll,
.slide2 .slide-poll,
.slide3 .slide-poll{
  width: 100%;
  height: 345px;
  opacity: .2;
  -webkit-animation-name: slide-poll;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: 1;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: -1;
}

.slide1 .remote,
.slide2 .remote,
.slide3 .remote{
  position: absolute;
  bottom:-50px;
  right: 20px;
  -webkit-animation-name: remote;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: 1;
  -webkit-transform: scale(1,1)
}

.slide2 .remote {
  bottom:-150px;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: remote2;
}

.slide3 .remote {
  bottom:-1px;
  right: 85px;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: remote3;
}

.slide1 .caption,
.slide2 .caption,
.slide3 .caption{
  position:absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 10px 0 10px 10px;
  -webkit-animation-name: caption;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 1;
}

.slide1 .caption h3,
.slide2 .caption h3,
.slide3 .caption h3{
  color: #fff;
  margin: 0;
  font-size: 1.4rem;
}

.orbit-container {
  background-color: transparent;
}

.orbit-caption {
  /*top: 0;*/
}

.orbit-bullets {

}

.login label {
  font-size: 1.2rem;
  font-weight: 700;
}

.actions img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  -webkit-transition: 400ms linear all; /* Safari/Chrome */
  -moz-transition: 400ms linear all; /* Firefox */
  -o-transition: 400ms linear all; /* Opera */
  transition: 400ms linear all; /* IE10+ and Future Browsers */
  opacity: .5;
}

.actions img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
  opacity: 1;
}

.actions .columns {
  /*padding-left: 5px;*/
}