p	{font-size:2.2em;}
.placeholder {
    height: 125px;
    width: 85%;
}

.slide {
    border-radius: 15px;
    -moz-box-shadow: 0 0 12px -3px #6398AA;
    -webkit-box-shadow: 0 0 12px -3px #6398AA;
    box-shadow: 0 0 12px -3px #6398AA;
    text-align:center;
}

.textL	{text-align:left;}

.codeSample	{text-align:left; font: 2.2em "Courier New", Courier, monospace;}

.marginL	{margin-left:50px;}