<!doctype html>
<html lang="en" ng-app="onslyde">
<head>
  <meta charset="utf-8">
  <title>onslyde - realtime audience engagement</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <base href="/">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="foundation-4.3.1/css/foundation.css">

  <script src="foundation-4.3.1/js/vendor/custom.modernizr.js"></script>

  <link href="css/main.css?v=4" rel="stylesheet">

</head>
<body ng-controller="PageCtrl">

<!-- Header and Nav -->
<div id="signin-container" class="reveal-modal small" >

  <div class="lead">
    <h2>Sign In</h2>
  </div>

  <fieldset ng-controller="LoginCtrl">

    <form name="signin" ng-submit="login()" novalidate id="signin">
      <div ng-if="loginAlert" class="validation error header">{{loginAlert}}</div>
      <div class="large-12">
        <label>Email</label>
        <input type="email" name="email" placeholder="you@somewhere.com" ng-required="true" ng-model="login.email">
        <div ng-show="signin.email.$dirty && signin.email.$invalid" class="validation error">Email is required and should be in proper format (you@somewhere.com)</div>
      </div>
      <div class="large-12">
        <label>Password</label>
        <input type="password" name="password" ng-minlength="3" placeholder="something secret" ng-required="true" ng-model="login.password">
        <div ng-show="signin.password.$invalid && signin.password.$error.minlength" class="validation error">Password must be at least 3 characters.</div>
      </div>
      <div class="large-12">
        <button type="submit" ng-disabled="signin.$invalid || loginButton.disabled" class="button right">{{loginButton.label}}</button>
      </div>
    </form>

  </fieldset>
</div>

<div class="row">
  <div class="large-3 columns">
    <h1 class="logo"><a href="#!/home">onslyde</a></h1>
  </div>
  <div class="large-9 columns">
    <ul class="top-buttons button-group right" ng-controller="LoginCtrl">
      <li ng-cloak ng-if="userInfo.created"><a ng-href="#!/analytics" ><i class="pictogram">&#128202</i> Your Sessions</a></li>
      <li><a ng-href="#!/gettingstarted" class="o-button"><i class="pictogram">&#128213;</i> Getting Started</a></li>
      <li ng-cloak ng-if="userInfo.created">{{userInfo.name}} | <a ng-click="logout()"><i class="pictogram">&#59201;</i> Sign Out</a></li>
      <li ng-cloak ng-if="!userInfo.created" ng-controller="LoginCtrl">
        <a data-reveal-id="signin-container" class="o-button"><i class="pictogram" style="margin:0 5px 0 0">&#59198;</i>Sign In</a>
      </li>
    </ul>
  </div>

</div>

<div ng-view></div>

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-8 columns">
        &copy; Copyright <a href="http://wesleyhales.com" target="_blank">Wesley Hales</a> and contributors.
        <div class="right share-info">
          <iframe id="gplus" src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=en-US&amp;url=https://www.onslyde.com" allowtransparency="true" frameborder="0" scrolling="no" title="+1"></iframe>
          <iframe id="twitter" allowtransparency="true" frameborder="0" scrolling="no"
                  src="https://platform.twitter.com/widgets/tweet_button.html?via=onslyde&url=onslyde.com"
                  style="width:90px; height:20px;"></iframe>
        </div>
      </div>
      <div class="large-4 columns">
          <a class="right" href="https://github.com/onslyde/onslyde" target="_blank">View on github</a>
      </div>
    </div>
  </div>
</footer>

<br/>
<br/>
<!--<script>-->
  <!--document.write('<script src=' +-->
      <!--('__proto__' in {} ? 'foundation-4.3.1/js/vendor/zepto' : 'foundation-4.3.1/js/vendor/jquery') +-->
      <!--'.js><\/script>')-->
<!--</script>-->


<script src="js/libs/jquery-1.10.1.min.js"></script>
<script src="js/libs/jquery-migrate-1.2.1.min.js"></script>
<script src="js/libs/highcharts.js"></script>

<script src="foundation-4.3.1/js/foundation/foundation.js"></script>
<script src="foundation-4.3.1/js/foundation/foundation.reveal.js"></script>
<script src="foundation-4.3.1/js/foundation/foundation.orbit.js"></script>
<script src="foundation-4.3.1/js/foundation/foundation.tooltips.js"></script>

<script src="js/libs/angular-1.2.0-rc.2/angular.js"></script>
<script src="js/libs/angular-1.2.0-rc.2/angular-resource.js"></script>
<script src="js/libs/angular-1.2.0-rc.2/angular-cookies.js"></script>
<script src="js/libs/angular-1.2.0-rc.2/angular-route.js"></script>


<script src="js/app.js?v=4"></script>
<script src="global/localstorage-service.js?v=4"></script>
<script src="global/page-controller.js?v=4"></script>
<script src="global/page-service.js?v=4"></script>
<script src="global/utility-service.js?v=4"></script>
<script src="global/login-controller.js?v=4"></script>
<script src="global/youtube-service.js?v=4"></script>
<script src="global/youtube-directive.js?v=4"></script>
<script src="analytics/analytics-controller.js?v=4"></script>
<script src="charts/chart-directives.js?v=4"></script>
<script src="charts/chart-service.js?v=4"></script>


<script src="gettingstarted/gettingstarted-controller.js?v=4"></script>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31854873-1']);
  _gaq.push(['_setDomainName', 'onslyde.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
