<!doctype html>
<html lang="en" ng-app="onslyde">
<head>
  <meta charset="utf-8">
  <title>onslyde - realtime audience engagement</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <base href="/">
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="foundation-4.3.1/css/foundation.css">

  <script src="foundation-4.3.1/js/vendor/custom.modernizr.js"></script>

  <link href="css/main.css" rel="stylesheet">

</head>
<body ng-controller="PageCtrl">

<!-- Header and Nav -->
<div id="signin-container" class="reveal-modal small" >

  <div class="lead">
    <h2>Sign In</h2>
  </div>

  <fieldset ng-controller="LoginCtrl">

    <form name="signin" id="signin"  data-abide >
      {{loginAlert}}
      <div class="large-12">
        <label>Email</label>
        <input type="text" placeholder="you@somewhere.com" required pattern="email" ng-model="login_email">
        <small class="error">Email is required  and should be in proper format (you@somewhere.com)</small>
      </div>
      <div class="large-12">
        <label>Password</label>
        <input type="password" placeholder="something secret" required pattern="password" ng-model="login_password">
        <small class="error">Password must be within 3 to 14 characters.</small>
      </div>
      <div class="large-12">
        <button type="submit" class="button right">Sign In</button>
      </div>
    </form>

  </fieldset>
</div>

<div class="row">
  <div class="large-3 columns">
    <h1 class="logo"><a href="/home">onslyde</a></h1>
  </div>
  <div class="large-9 columns">
    <ul class="top-buttons button-group right" ng-controller="LoginCtrl">
      <li><a href="/gettingstarted" class="o-button"><i class="pictogram">&#128213;</i>Getting Started</a></li>
      <li ng-if="userInfo.created">{{userInfo.name}} | <a ng-click="logout()"><i class="pictogram">&#59201;</i>Sign Out</a></li>
      <li ng-if="!userInfo.created"><a data-reveal-id="signin-container" class="o-button"><i class="pictogram">&#59198;</i>Sign In</a></li>


    </ul>
  </div>
</div>



<div ng-view></div>

<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        &copy; Copyright <a href="http://wesleyhales.com" target="_blank">Wesley Hales</a> and contributors.
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="https://github.com/onslyde/onslyde" target="_blank">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<script>
  document.write('<script src=' +
      ('__proto__' in {} ? 'foundation-4.3.1/js/vendor/zepto' : 'foundation-4.3.1/js/vendor/jquery') +
      '.js><\/script>')
</script>
<script src="foundation-4.3.1/js/foundation/foundation.js"></script>
<script src="foundation-4.3.1/js/foundation/foundation.abide.js"></script>
<script src="foundation-4.3.1/js/foundation/foundation.reveal.js"></script>
<script src="foundation-4.3.1/js/foundation/foundation.orbit.js"></script>

<script src="js/libs/angular-1.2.0-rc.2/angular.js"></script>
<script src="js/libs/angular-1.2.0-rc.2/angular-resource.js"></script>
<script src="js/libs/angular-1.2.0-rc.2/angular-cookies.js"></script>
<script src="js/libs/angular-1.2.0-rc.2/angular-route.js"></script>


<script src="js/app.js"></script>
<script src="global/localstorage-service.js"></script>
<script src="global/page-controller.js"></script>
<script src="global/page-service.js"></script>
<script src="global/utility-service.js"></script>
<script src="global/login-controller.js"></script>

<script src="gettingstarted/gettingstarted-controller.js"></script>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31854873-1']);
  _gaq.push(['_setDomainName', 'onslyde.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


</body>
</html>
